@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Inter|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Archivo+Black|Plaster|Bungee+Shade|Press+Start+2P|Rubik+Mono+One|Titillium+Web:900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    line-height: 1.6;
    width: 100%;
    overflow: hidden;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}
.font-rob{
    font: 'Roboto', sans-serif;
}
.font-druk{
    font: 'Druk-WideMedium', sans-serif;
}
.font-pl{
    font: 'Plaster', cursive;
}
.font-size-112{
    font-size: 112px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-black{
    background-color: 	var(--color-black);
}

/* global classes*/

#header{
position: fixed;
top:0;
left: 0;
width: 100%;
height: 0px;
z-index: 1;
transition: left.5s ease;
}

.skill .bars p, .site-content .skill .bars span{
    line-height: 10px;  
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea{
    border-radius: 0;
    border: 1px solid gray;
    padding: 1.5rem 1rem;
    background-color: black;
} 
.about-text{
    color: white;
}
.txt-area-contact{
    border-radius: 6px;
}
.navbar{
    position:fixed;
    top:0;
    z-index:1;
    display:flex;
    height: 60px;
    color: white;
    background-color: black;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.navbar ul li{
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 18px;   
    
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
footer{
    background-color: black;
}
.progress-bar{
  
background-color: blue;
}
.work{
    padding: 40px 10%;
}
.img-about{
    width: 100%;
}
.img-me{
    height: 420px;
    display: block;
    margin: 0px;
    padding:0px;
}
.si-wrapper{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    padding: 7px;
}
.panel{
    min-height:294px ;
}
#home1{
    display: grid;
    grid-template-columns: 0.8fr 2.2fr;
    padding-top: 60px;
}
#home1 > div{
    background: black;
    padding: 0 1rem;
}
.col-project{
    max-width: 260px;
    height:520px;
}
.icon-gh{
    color: #d469d8; 
    height: 20px;width: 20px;
}
#about{
}
  .contact{
    background-color: #000000;
}
#contact{
    color: white; 
    background-color: black;
}
.skillsimg{
    height: 100%;
    width: 100%;
    padding: 0 20%;
    display: block;
    margin:auto;
  } 
  .col-skills{
    display: flex;
  }
  .holding-container{
    width: 100%;
    display:flex;
    flex-direction: row;
  }
  
  .wrap-project{
            margin: 50% 0px;
}
@media only screen and (max-width: 700px) {
    .navbar > ul > li {
        margin: 6px;
        
      }
    .navbar > ul > li > a {
      font-size: 14px;
    }
    .contact-txt{
        font-size: 22px;
    }
    .illustr{
        width: 360px;
        height: 500px;
    }
    .skillsimg{
        padding:0px;
    }
    .form-contact{
        padding:0;
    }
    .holding-container{
        flex-direction: column;
    }
    
    .wrap-project{
        margin:10% 0px;    
    }
  }
 
  section,footer{
      width:100%;
      height: 100%;
      /* scroll-snap-align:start; */
  }
  .container1{
    width:100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  .illustrations-container{
      margin: .5vw;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      display:-webkit-box;
      display: flex;
  }
  .illustrations-container div{
      -webkit-box-flex:auto;
      -ms-flex:auto;
      flex:auto;
      width:220px;
      margin:.8vw;
  }

  .illustrations-container div img{

    width: 100%;
    height:auto;

  }

  .column{
      width: 25%;
      float:left;
      padding:0px 10px;
  }
  .row::after{
      content:"";
      display:table;
      clear:both;
  }
  .card{
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
      max-width: 300px;
      margin:auto;
      background-color: white;
      text-align: center;
      border-radius: 40px;
      padding-bottom: 15px;
  }
  .imageBox {
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
  }
  .imageInn{
    width: fit-content;
  }
  .image-wrap{
    display: flex; 
    justify-content: space-between;
  }
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: block;
  }
  .icon-skill{
    color: white;
  }
  #site-main{
    background-color: #000000;
    color: white;
  }

  .container1 {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container1::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.illustrationImg{
    transition: transform .4s;
  }
  .illustrationImg:hover {
    transform: scale(1.1); 
  }
  .social-icons{
      padding-bottom: 10px;
      color:white;
      display: flex;
  }

.social-icons ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-icons ul li {
    list-style: none;
    margin: 0 10px;
  }
  
  .social-icons ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: rgba(165, 165, 165,0.2);
    border-radius: 50%;
    font-size: 30px;
    color:white;
    transition: .5s;
  }
  
  .social-icons ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .social-icons ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px#d469d8;
  }
  
  .social-icons ul li a:hover {
    color: #d469d8;
    box-shadow: 0 0 5px #d469d8;
    text-shadow: 0 0 5px#d469d8;
  }
  .example_d {
    color: white !important;
    text-transform: uppercase;
    /* background: transparent; */
    padding: 16px;
    border: 4px solid white !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 14px;
    }
    .example_d:hover {
        color: #d469d8 !important;
        border-radius: 50px;
        border-color: #d469d8 !important;
        transition: all 0.3s ease 0s;
        }