@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Inter|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Archivo+Black|Plaster|Bungee+Shade|Press+Start+2P|Rubik+Mono+One|Titillium+Web:900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    line-height: 1.6;
    width: 100%;
    overflow: hidden;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}
.font-rob{
    font: 'Roboto', sans-serif;
}
.font-druk{
    font: 'Druk-WideMedium', sans-serif;
}
.font-pl{
    font: 'Plaster', cursive;
}
.font-al{
    font-family: 'Alfa Slab One', cursive;
}
.font-arch{
    font-family: 'Archivo Black', sans-serif;
}
.font-titi{
    font-family: 'Titillium Web', sans-serif;
}
.font-ps{
    font-family: 'Press Start 2P', cursive;
}
.font-bung{
    font-family: 'Bungee Shade', cursive;
}
.font-size-112{
    font-size: 112px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-black{
    background-color: 	var(--color-black);
}

/* global classes*/

#header{
position: fixed;
top:0;
left: 0;
width: 100%;
height: 0px;
z-index: 1;
transition: left.5s ease;
}

.skill .bars p, .site-content .skill .bars span{
    line-height: 10px;  
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea{
    border-radius: 0;
    border: 1px solid gray;
    padding: 1.5rem 1rem;
    background-color: black;
} 
.about-text{
    color: white;
}
.navbar{
    position:fixed;
    top:0;
    z-index:1;
    display:flex;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
}
.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.navbar ul li{
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 18px;   
    
}
.navbar ul li i{
    text-decoration: none;
    font-size: 22px;
    color:black;
}
footer{
    background-color: black;
}
.progress-bar{
  
background-color: blue;
}
.skill-heading{

}
.si-wrapper{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    padding: 7px;
}
.si-wrapper:hover{
}
@media screen and (max-width:950px){
    
}
#home1{
    display: grid;
    grid-template-columns: 0.8fr 2.2fr;
    padding-top: 60px;
}
#home1 > div{
    background: black;
    padding: 0 1rem;
}
#about{
}
  .contact{
    background-color: #000000;
}
  @media only screen and (max-width: 600px) {
    .navbar > ul > li {
        margin: 6px;
        
      }
    .navbar > ul > li > a {
      font-size: 14px;
    }
    .contact-txt{
        font-size: 22px;
    }
    .illustr{
        width: 360px;
        height: 500px;
    }
    /* section,footer{
        scroll-snap-align:none;
    } */
    .skillsImg{
        width: 100%;
    }
  }
  .skillsImg{
    width:70%;
    margin: 0 auto;
  }
  section,footer{
      width:100%;
      height: 100%;
      /* scroll-snap-align:start; */
  }
  .container1{
    width:100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  .illustrations-container{
      margin: .5vw;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      display:-webkit-box;
      display: flex;
  }
  .illustrations-container div{
      -webkit-box-flex:auto;
      -ms-flex:auto;
      flex:auto;
      width:200px;
      margin:.5vw;
  }

  .illustrations-container div img{

    width: 100%;
    height:auto;

  }

  .column{
      width: 25%;
      float:left;
      padding:0px 10px;
  }
  .row::after{
      content:"";
      display:table;
      clear:both;
  }
  .card{
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
      max-width: 300px;
      margin:auto;
      background-color: white;
      text-align: center;
      border-radius: 40px;
      padding-bottom: 15px;
  }
  .aboutImg:hover{
      padding: 30px;
  }